.main_categories {
    background-color: blueviolet;
}

.categories_cards {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.category_card {
    background-color: blue;
    display: flex;
    justify-content: center; /*тут одразу питання, в мене спрацювало вирівнювання кнопки, але чому саме в цьому блоці*/
    align-items: flex-end; 
    height: auto;
    width: 35%;
}

.categoty_img {
    max-width: 100%;
    height: auto;
}

.category_card_btn {
    width: 112px;
    height: 30px;
    background-color: #A9BFE4;
    color: white;
    border: none;
    position: absolute;
}

.category_card_btn:hover {
    transform: scale(1.05);
    font-weight: bold;
}