.flowers_catalog {
    // background-color: lime;
    height: max-content;
    padding-top: 80px;
    // padding-bottom: 25px;
}

.flowers_catalog_title {
    width: 100%;
    // padding-top: 25px;
    @extend %title-font-settings;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.flowers_catalog_inner {
    padding-top: 30px;
    display: flex;
    align-content: space-between;
}

.flowers_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.flowers_card {
    background-color: #FFFFFF;;
    min-height: 350px;
    width: 32%;
    margin-bottom: 2%;
    box-shadow: 1px 5px 6px 4px lightgrey;
    
}

.frower_card_img {
    // height: 70%;
    width: 100%;
    object-fit: cover;
}

.flowers_name {
    text-align: center;
    position: relative;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.flower_price {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.text_decoration {
    text-decoration: none;
    color: #FFFFFF;
    
}

.flowers_card:hover {
    transform: scale(1.05);
}