.footer {
    background-color: $primary-color-blue;
    display: flex;
}

.footer_menu {
    text-decoration: none;
    list-style-type: none;
}

.display_flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer_contucts {
    
    // display: flex;
    // justify-content: flex-start;
}

.logo_footer {
    display: flex;
    justify-content: center;
    width: 20%;

}

.logo_footer img {
    width: 100%;
    height: fit-content;
}

.static_information {
  
}

.footer_items_list {
    width: 25%;
    margin-left: 0;
}

ul {
    padding: 0;
}

.footer_title {
    font-size: 20px;
}

.footer_items_list {
color: white;
}