.footer {
    background-color: $primary-color-blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.footer_menu{
    text-decoration: none;
    list-style-type: none;
    padding-left: 0%;
}