.header {
    background-color: $primary-color-blue;

}

.header_navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
}


.menu_navigation {
    // background-color: #11060e;
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// .menu_list {
//     position: relative;
//     display: flex;
//     align-items: center;
//     width: 100%;
//     justify-content: space-between;
// }

.menu_list_item {
    display: flex;
    padding: 30px;
    text-decoration: none;
    color: #FFFFFF;
}

.burger {
    display: none;
}

.burger_bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #FFFFFF;
}