@media only screen and (max-width: 768px) {
    
    .header_navbar {
        flex-direction: row-reverse;
        justify-content: space-around;
        position: relative;
    } 

    .container {
        padding: 0 15px;
    }

   .burger {
        display: inline-block;
        // padding-right: 40px;
        
        
   }

   .menu_navigation {
        // width: fit-content;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        padding-top: 30px;;
        width: 100%;
   }

   .logo {
    position: absolute;
        // padding-right: 120px; //думаю це не правильне рішення
     
   }

   .logo_img {
    height: 60px;
    margin-top: 10px;
   }

   .menu_navigation .hide_item {
        display: none;
   }

   .menu_navigation.open .hide_item {
    display: block;
    width: 100%;
    padding: 0;
    background-color: #A9BFE4;
    color: #F5F5F5;
    font-size: 20px;
    z-index: 2;
}

   .small_description_text {
        // display: none;
        font-size: 14px;
        width: 100%;
        padding: 0 30px 20px;
        text-align: center;
   }

   .small_description_inner {
    padding: 300px 0 0 0;
   }

   .small_description_title {
    font-size: 24px;
   }

   .small_description_subtitle {
    font-size: 16px;
   }


   .small_description {
    // transform: rotate(-90deg);

    }


    .category_card {
        width: 100%;
        height: 200px;
        align-items: center;
    }


    .categories_cards {
        flex-wrap: wrap;
    }

    .categoty_img {
        height: 200px;
        width: 100%;
    }

    .about_us_description_inner {
        display: inline;

    }

    .about_us_text {
        width: 100%;
    }

    .about_us { 
        background-size: 100%;
        background-image: none;
    }


    .about_us_imgs {
        background-image: url(images/abstract_background.png);
        display: flex;
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: right center;
        padding-top: 70px;
    }


    .items_position {
        width: 50%;
    }

    .our_pros_title {
        font-size: 20px;
    }

    .pros_items_text_style {
        font-size: 16px;
    }

    .our_pros_items {
        flex-wrap: wrap;
    }


    .our_pros {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .flowers_cards {
        justify-content: space-around;
    }

    .flowers_card {
        width: 45%;
        min-height: 250px;
    }

    .flowers_name {
        font-size: 14px;
        margin-top: 2%;
    }

    .flower_price {
        font-size: 14px;
        margin-top: 2%;
    }
    
    .logo_footer {
    // display: none;
}

    .display_flex {
        justify-content: space-around;
    }

    .text_decoration {
        font-size: 14px;
    }

    .mobile_title {
        font-size: 30px;
    }

    .category_card_btn {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .small_description_inner {
        height: auto;
        padding: 85vw 0 0 0;
    }

    .small_description {
        overflow: hidden;
        &::after {
            left: 50%;
            top: -10vw;
            transform: translateX(-50%) rotate(-90deg);
            width: 90vw;
            height: 90vw;
            background-size: contain;
        }
    }

    .display_flex {
        flex-wrap: wrap;
    }

    .logo_footer {
        width: 100%;
        order: 2;
    }
    
    .logo_footer img {
        width: 200px;
       
    }
    
    .footer_items_list {
        width: 30%;
    }


    .flowers_card {
        min-height: 150px;
    }

    .reviews_bgr {
        padding-top: 50px;
    }


    .our_pros_items {
        padding-top: 15px;
    }

   
}



