.review_section {
    height: max-content;
    padding: 25px 0;
}

.user_review_title {
    @extend %title-font-settings;
    width: max-content;
}


.user_name {
    background-color:white;
    width: 100%;
    height: 40px;
    color:rgba(152, 158, 195, 1);
    margin-bottom: 0%;
    padding: 3%;
    font-weight: bold;
    font-size: 25px;
}

.user_review {
    background-color: $reviews_background;
    display: flex;
    height: max-content;
    min-height: 80px;
    width: 100%;
    box-shadow: 1px 5px 6px 4px lightgrey;
    padding: 3%;
    font-size: 20px;
    line-height: 1.5;
}


.user_email {
    display: flex;
    width: 100%;
    height: 45px;
    border-style: none;
}

.user_text_review {
    display: flex;
    width: 100%;
    border-style: none;
    min-height: 200px;
    max-height: fit-content;
    margin-top: 2%;
}

.send_button {
    margin-top: 2%;
    height: 45px;
    width: 200px;
    background: #FFC2C7;
    color: #FFFFFF;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::placeholder {
    display: flex;
    // align-items: flex-start;
    color: #ACACAC;
    font-size: 1.5em;
    padding: 0 2%;
}