.about_us {
    background-image: url(images/abstract_background.png);
    display: flex;
    background-size: 35%;
    @extend %background-settings;
    padding-top: 70px;
}

.about_us_description_inner {
    display: flex;
    align-items: flex-start;
    
}

.about_us_text {
    /* background-color: darkgray; */
    // display: flex;
    width: 50%;
    
}

.about_us_imgs {
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;

    img {
        width: 100%;
    }
}


.about_us_title {
    @extend %title-font-settings;
    line-height: 1.5;
}

.about_us_subtitle {
    font-size: 22px;
    line-height: 1.5;
}

