.header {
    background-color: $primary-color-blue;

}

.header_navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    @include phone {
        flex-direction: row-reverse;
        justify-content: space-around;
        position: relative;
    }
}


.menu_navigation {
    // background-color: #11060e;
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include phone {
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        padding-top: 30px;;
        width: 100%;
    }
}

// .menu_list {
//     position: relative;
//     display: flex;
//     align-items: center;
//     width: 100%;
//     justify-content: space-between;
// }

.menu_list_item {
    display: flex;
    padding: 30px;
    text-decoration: none;
    color: #FFFFFF;
}

.menu_navigation .hide_item {
    @include phone {
    display: none;
    }
}

.menu_navigation.open .hide_item {
   @include phone {
    display: block;
    width: 100%;
    padding: 0;
    background-color: #A9BFE4;
    color: #F5F5F5;
    font-size: 20px;
    z-index: 2;
   }
}

.burger {
    display: none;
    @include phone {
            display: inline-block;
            // padding-right: 40px;
    }
}

.burger_bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #FFFFFF;
}

.text_decoration {
    font-size: 20px;
    @include phone {
        font-size: 14px;
    }
}

.text_decoration:hover {
    text-decoration: underline;
    font-weight: bold;
    
}

.logo_img {
    @include phone {
    height: 60px;
    // margin-top: 10px;
    }
   }