@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
body {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #351F21;
}

.flowers_catalog_title, .user_review_title, .about_us_title, .small_description_title {
  font-weight: 600;
  font-size: 40px;
}

.about_us, .small_description {
  background-repeat: no-repeat;
  background-position: right center;
}

.header {
  background-color: #A9BFE4;
}

.header_navbar {
  display: grid;
  grid-template-columns: 20% auto;
  height: 80px;
}

.menu_navigation {
  background-color: #11060e;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu_list_item {
  display: flex;
  padding: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

.small_description {
  background-image: url(images/bg_web-no-background.png);
  background-size: 55%;
}

.small_description_inner {
  display: flex;
  align-items: center;
  padding: 55px 0;
  height: 60vw;
}

.small_description_text {
  /* background-color: aquamarine; */
  width: 45%;
}

.small_description_title {
  line-height: 1.5;
}

.small_description_subtitle {
  font-size: 22px;
  line-height: 1.5;
}

.bg_web-no-background {
  /* background-color: darkolivegreen; */
  width: 100%;
}

.main_categories {
  background-color: blueviolet;
}

.categories_cards {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.category_card {
  background-color: blue;
  display: flex;
  justify-content: center; /*тут одразу питання, в мене спрацювало вирівнювання кнопки, але чому саме в цьому блоці*/
  align-items: flex-end;
  height: auto;
  width: 35%;
}

.categoty_img {
  max-width: 100%;
  height: auto;
}

.category_card_btn {
  width: 112px;
  height: 30px;
  background-color: #A9BFE4;
  border: none;
  position: absolute;
}

.about_us {
  background-image: url(images/abstract_background.png);
  display: flex;
  background-size: 40%;
  padding: 55px 0;
}

.about_us_description_inner {
  display: flex;
  height: 20vw;
  display: flex;
  align-items: center;
  height: 30vw;
}

.about_us_text {
  /* background-color: darkgray; */
  width: 55%;
}

.about_us_imgs {
  display: flex;
  width: 45%;
  /* align-items: flex-end; */
}

.about_us_title {
  line-height: 1.5;
}

.about_us_subtitle {
  font-size: 22px;
  line-height: 1.5;
}

.our_pros {
  background-color: rgba(169, 191, 228, 0.3);
}

.our_pros_title {
  font-size: 32px;
  display: flex;
  padding: 25px 0 0;
  color: #989EC3;
}

.pros_items_text_style {
  font-size: 20px;
  line-height: 20px;
  max-width: 210px;
  max-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  text-align: center;
  color: #351F21;
  line-height: 1.5;
}

.our_pros_items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-end;
}

.our_pros_imgs {
  width: 50%;
}

.items_position {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review_section {
  height: max-content;
  padding: 25px 0;
}

.user_review_title {
  width: max-content;
}

.user_name {
  background-color: white;
  width: 100%;
  height: 40px;
  color: rgb(152, 158, 195);
  margin-bottom: 0%;
  padding: 3%;
  font-weight: bold;
  font-size: 25px;
}

.user_review {
  background-color: #FFFFFF;
  display: flex;
  height: max-content;
  min-height: 80px;
  width: 100%;
  box-shadow: 1px 5px 6px 4px lightgrey;
  padding: 3%;
  font-size: 20px;
  line-height: 1.5;
}

.user_email {
  display: flex;
  width: 100%;
  height: 45px;
  border-style: none;
  outline: none;
}

.user_text_review {
  display: flex;
  width: 100%;
  border-style: none;
  min-height: 200px;
  max-height: fit-content;
  margin-top: 2%;
  outline: none;
}

.send_button {
  margin-top: 2%;
  height: 45px;
  width: 200px;
  background: #FFC2C7;
  color: #FFFFFF;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}

::placeholder {
  display: flex;
  color: #ACACAC;
  font-size: 1.5em;
  padding: 0 2%;
}

.flowers_catalog {
  background-color: lime;
  height: max-content;
  padding-bottom: 25px;
}

.flowers_catalog_title {
  width: 100%;
  padding-top: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.flowers_catalog_inner {
  display: flex;
  align-content: space-between;
}

.flowers_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flowers_card {
  background-color: #FFFFFF;
  height: 400px;
  width: 30%;
}

.frower_card_img {
  height: 80%;
  width: 100%;
}

.flowers_name {
  text-align: center;
  position: relative;
  top: 5px;
}

.flower_price {
  position: relative;
  top: 15px;
  text-align: center;
}

.text_decoration {
  text-decoration: none;
  color: #FFFFFF;
}

.footer {
  background-color: #A9BFE4;
  display: flex;
}

.footer_menu {
  text-decoration: none;
  list-style-type: none;
}

.display_flex {
  display: flex;
  width: 100%;
}

.logo_footer {
  width: 25%;
  display: flex;
  padding-top: 3%;
}

.footer_items_list {
  width: 25%;
  margin-left: 0;
}

ul {
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto 0 auto;
  border-right: 1px solid red;
  border-left: 1px solid red;
  padding: 0 5%;
}

.logo {
  display: flex;
  justify-content: center;
  position: relative;
  height: 40%;
}

@media only screen and (max-width: 768px) {
  .header_navbar {
    background-color: #A9BF10;
    display: grid;
    grid-template-columns: 250px auto;
    height: 80px;
  }
}

/*# sourceMappingURL=mila_project.css.map */
